BASE_CLIENT_URL=https://example.com
BASE_ADMIN_URL=https://example.com/admin

#InfluxDB Configuration
INFLUXDB_HOST=
INFLUXDB_PORT=
INFLUXDB_DB=
INFLUXDB_USER=
INFLUXDB_PASSWORD=

# Grafana Configuration
GRAFANA_PORT=
GRAFANA_USER=
GRAFANA_PASSWORD=

# Test Configuration
K6_VUS=10
K6_DURATION=60s
K6_TIMEOUT=30s